body{
    background-image: linear-gradient(rgba(199, 199, 199, 0.212), rgba(194, 194, 194, 0.295)), url("libros2.jpg");
    background-size: cover;
}

header{
    text-align: center;
    color: #0c421c;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

div{
    text-align: center;
    color: #253329;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

.liClase{
    display: inline-block;
    background: rgb(255, 247, 247);
    text-align: center;
    color: #125725;
    border: 2px solid lightslategray;
    border-radius: 1em;
    margin: auto;
    padding: 1em 3em;
    font-family: 'Varela Round', sans-serif;
}
 
.ulClase{
    display: flexbox;/*para que el acomodo de los hijos sea flexible*/
    list-style: none; /*para que no ponga los li en lista hacia abajo*/
}

textarea[name="user-input"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
    border-color: olive;
    color:#207a38;
    font-family: 'Montserrat', sans-serif, 'Arial Narrow';
    font-size: 16px;
}

#reset-button{
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    width: 100px;
    border-radius: 10px;
    margin: auto;
    color: solid green;
    background-color: #7fda97d7;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}

footer{
    text-align: right;
    color:rgb(45, 7, 77);
    font-family: 'DM Mono', monospace;
}